## Soal UTS

In [14]:

# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

## Task 1

Please get the list of all Companies and sort by **Company Name** in reverse order.

Expected result:


```json
[{
    "name": "Company 3"
}, {
    "name": "Company 2"
}, {
    "name": "Company 1"
}]
```

<h1>JAWABAN</h1>

In [15]:
company_names = [company['name'] for company in company_detail_list]
sorted_company_names = sorted(company_names, reverse=True)
result = [{'name': name} for name in sorted_company_names]
print(result)

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

## Soal 2

Please print all Domain value in every company (use print statement).

Expected return:

```
    Company 1: Retail (United States)
    Company 2: Technology (United Kingdom)
    Company 3: Healthcare (United States)
```

<h1>JAWABAN</h1>

In [16]:
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

## Task 3

List all Employees work By company domain.

Expected return:

```json
{
    "Retail": [
         "John Doe",
         "Robert White",
         "Ying Han Tan"
     ],
    "Technology":[
          "Tom Smith",
          "Rubby Lee",
     ],
    "Healthcare": [
         "Kenneth Ng",
         "Andrew Sebastian"
     ],
}
```

<h1>JAWABAN</h1>

In [17]:
domain_to_employees = {}  

for company in company_detail_list:
    domain = company['domain']
    domain_to_employees[domain] = []  

for employee in employee_detail_list:
    company_name = employee['company']
    full_name = employee['full_name']
    
    for company in company_detail_list:
        if company['name'] == company_name:
            domain = company['domain']
            domain_to_employees[domain].append(full_name)

domain_to_employees

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'],
 'Technology': ['Tom Smith', 'Rubby Lee'],
 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

## Task 4

Create a function that return employees with it's company country.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "country": "United States"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "country": "United Kingdom"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 3",
    "country": "United Kingdom"
},  {
    "full_name": "Ying Han Tan",
    "company": "Company 1",
    "country": "United States"
},  {
    "full_name": "Kenneth Ng",
    "company": "Company 3",
    "country": "United States"
},  {
    "full_name": "Rubby Lee",
    "company": "Company 2",
    "country": "United Kingdom"
},   {
    "full_name": "Robert White",
    "company": "Company 1",
    "country": "United States"
},
    
]
```

<h1>JAWABAN</h1>

In [18]:
def get_employees_with_country(employee_list, company_list):
    result = []
    company_country_map = {company['name']: company['country'] for company in company_list}
    for employee in employee_list:
        full_name = employee['full_name']
        company = employee['company']
        country = company_country_map.get(company)
        result.append({
            'full_name': full_name,
            'company': company,
            'country': country
        })
    
    return result
employees_with_country = get_employees_with_country(employee_detail_list, company_detail_list)
employees_with_country

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'},
 {'full_name': 'Tom Smith',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Andrew Sebastian',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Ying Han Tan',
  'company': 'Company 1',
  'country': 'United States'},
 {'full_name': 'Kenneth Ng',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Rubby Lee',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Robert White',
  'company': 'Company 1',
  'country': 'United States'}]

## Task 5

Create a function that return companies with a number of employees nationality that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employee_nationality": {
        "Australia": 2,
        "Hong Kong": 1
    }
}, {
    "company": "Company 2",
    "employee_nationality": {
        "Hong Kong": 1,
        "United States": 1
    }
}, {
    "company": "Company 3",
    "employee_nationality": {
        "United States": 2
    }
}]
```

<h1>JAWABAN</h1>

In [19]:
def get_companies_with_employee_nationality(employee_list, company_list):
    result = []
    for company in company_list:
        company_name = company['name']
        employee_nationality_count = {}
        for employee in employee_list:
            if employee['company'] == company_name:
                nationality = employee['nationality']
                if nationality in employee_nationality_count:
                    employee_nationality_count[nationality] += 1
                else:
                    employee_nationality_count[nationality] = 1
        if employee_nationality_count:
            result.append({
                "company": company_name,
                "employee_nationality": employee_nationality_count
            })

    return result
companies_with_nationality = get_companies_with_employee_nationality(employee_detail_list, company_detail_list)
companies_with_nationality

[{'company': 'Company 1',
  'employee_nationality': {'Australia': 2, 'United Kingdom': 1}},
 {'company': 'Company 2',
  'employee_nationality': {'United States': 1, 'Hong Kong': 1}},
 {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]